
.container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  scroll-behavior: smooth;

}

.scrollContainer > div {
  scroll-snap-align: start;
  height: 100vh;
}